.footer {
  display: flex;
  position: bottom;
  flex-direction: column;
  left: 0;
  background-color: #fff;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: large;
  height: 400px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  justify-content: top;
}
.titulo-del-footer {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #c77d0e;
}
