.navbar2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: gray;
  z-index: 999;
  display: flex;
  justify-content: center;
}
.navbar-2-scrolled {
  position: fixed;
  top: 0;
}

.navbar2-content {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
}
.navbar2-ul {
  align-items: center;
  list-style: none;
  display: flex;
  width: 100%;
  color: black;
  justify-content: space-between;
}
.navbar2-li {
  position: relative;
  color: #333;
}
.navbar2-li:hover {
  color: #c88004;
}
